DATABASE_URL="postgresql://postgres:placeholder@db.placeholder.supabase.co:5432/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:placeholder@db.placeholder.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://placeholder.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="placeholder"
